# Configuración de Flask
FLASK_ENV=development
FLASK_DEBUG=1
SECRET_KEY=clave_secreta_para_desarrollo_cambiar_en_produccion
PORT=5001

# Configuración del Sitio
SITE_NAME="Duvan Rodriguez"
SITE_URL=http://localhost:5001

# Configuración de PostgreSQL
POSTGRES_USER=admin
POSTGRES_PASSWORD=changeme-pg-pass-2026
POSTGRES_DB=master_db
POSTGRES_HOST=postgres-db
POSTGRES_PORT=5432
TZ=America/Bogota

# Opcional si prefieres usar la URL directa
# DATABASE_URL=postgresql+psycopg2://admin:changeme-pg-pass-2026@postgres-db:5432/master_db
